/* Blog Section */
$primary-color: #0077ff;
$secondary-color: #00c6ff;
$text-color: #333;
$light-bg: #f9f9f9;
$dark-bg: #333;
$font-stack: Arial, sans-serif;


.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

