<header class="header">
  <nav>
    <div class="hamburger" (click)="toggleMenu()">
      &#9776; 
    </div>
    <div class="nav-links" [class.active]="isMenuOpen">
      <a routerLink="/">Home</a>
      <a routerLink="/features">Features</a>
      <a routerLink="/home/blog">Blog</a>
      <a routerLink="/contact">Contact Us</a>
    </div>

    <div class="auth-buttons">
      <button class="login-button">Login</button>
      <button class="register-button">Free Register</button>
    </div>
  </nav>
</header>
