$primary-color: #0077ff;
$secondary-color: #00c6ff;
$text-color: #333;
$light-bg: #f9f9f9;
$dark-bg: #333;
$font-stack: 'Arial', sans-serif;
$transition-duration: 0.3s;
$border-radius: 8px; 

a {
  text-decoration: none;
}

.blog-post {
    padding: 20px;
  
    h2 {
      text-align: center;
      margin-bottom: 20px;
      font-size: 2.5rem;
      color: $primary-color;
    }
  
    markdown {
      margin: 10px 10px;
    }
  }
  